name: Build and Deploy

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  deploy:
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.ACCESS_KEY }}
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: pnpm/action-setup@v2
        with:
          version: 7.14.2
      - name: Build
        run: |
          pnpm install
          pnpm -r build --minify
          find ./ -name "*.user.js" -type f -exec cp {} ./pages \;
          find ./ -name "*.filters.txt" -type f -exec cp {} ./pages \;
          find ./ -name "*.hosts.txt" -type f -exec cp {} ./pages \;
      - name: Tree
        if: always()
        run: |
          tree -L 4 -N ./ -I node_modules
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          folder: pages